# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

---
BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 4
PointerAlignment: Left
AlignConsecutiveAssignments: true
AlignTrailingComments: true
SortIncludes: false
SpacesInAngles: false
SpacesBeforeTrailingComments: 2
TabWidth: 4
UseTab: Never